################################################################################
##                                                                             #
## Copyright 2016 myStorm Copyright and related                                #
## rights are licensed under the Solderpad Hardware License, Version 0.51      #
## (the “License”); you may not use this file except in compliance with        #
## the License. You may obtain a copy of the License at                        #
## http://solderpad.org/licenses/SHL-0.51. Unless required by applicable       #
## law or agreed to in writing, software, hardware and materials               #
## distributed under this License is distributed on an “AS IS” BASIS,          #
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or             #
## implied. See the License for the specific language governing                #
## permissions and limitations under the License.                              #
##                                                                             #
################################################################################
#

## Onboard 100Mhz oscillator
set_io --warn-no-port clk 129

#pmod 14 SPI muxed with leds
set_io --warn-no-port LED[0] 71 #LD4,!SS,p14_1
set_io --warn-no-port LED[1] 67 #LD3,MISO,p14_2
set_io --warn-no-port LED[2] 68 #LD2,MOSI,p14_3
set_io --warn-no-port LED[3] 70 #LD1,SCL,p14_4

set_io --warn-no-port BUTTON[0] 79
set_io --warn-no-port BUTTON[1] 80
set_io --warn-no-port BUTTON[2] 63
set_io --warn-no-port BUTTON[3] 64
